*.uistate.xml


*.backup2
*.backup3
*.backup4
*.backup5
*.backup6
*.backup7
*.backup8
*.backup9
*.backup10
*.backup11
*.backup12
*.backup13
*.backup14
*.backup15


*/Thumbs.db
project files/extend.uistate.xml
project files/extend.uistate.xml